<div class="container">
  <div class="row">
    <div class="col">
      <h1>Oders</h1>
    </div>
  </div>

  <div class="row row-search">
    <div class="col-1" *ngFor="let i of navLinks">
      {{ i }}
    </div>
  </div>

  <div class="row">
    <div class="col search-section">
      <input
        class="inpt-search"
        type="text"
        [(ngModel)]="queryCustomerName"
        (ngModelChange)="onInputCustomerChange()"
        placeholder="Customer Search"
      />
    </div>
    <div class="col">
      <h6>Filter Date:</h6>
    </div>
    <div class="col search-section">
      <input class="inpt-search" placeholder="createAt" />
    </div>
    <div class="col search-section"><h6>Date Range:</h6></div>
    <div class="col search-section">
      <input class="inpt-search" placeholder="Start Date" />
    </div>
    <div class="col search-section">
      <input class="inpt-search" placeholder="End Date" />
    </div>
  </div>

  <div class="row row-table">
    <app-owner-oders-table
      *ngIf="ordersLoaded"
      [odersList]="odersList$"
    ></app-owner-oders-table>
  </div>
</div>
