<div class="container">
  <div class="row">
    <div class="col">
      <h1>Oders</h1>
    </div>
  </div>

  <div class="row row-search">
    <div class="col-2 status-section" *ngFor="let status of formattedStatuses">
      <span class="sp-status">{{ status }}</span>
    </div>
  </div>

  <div class="row d-flex flex-nowrap align-items-center">
    <div class="col-auto search-section">
      <mat-select
        placeholder="Status"
        class="select-status"
        (selectionChange)="onStatusSelected($event.value)"
      >
        <mat-option *ngFor="let link of navLinks" [value]="link">
          {{ link }}
        </mat-option>
      </mat-select>
    </div>

    <div class="col-auto search-section">
      <input
        class="inpt-search form-control me-2"
        type="text"
        [(ngModel)]="queryCustomerName"
        (ngModelChange)="onInputCustomerChange()"
        placeholder="Customer Search"
      />
    </div>

    <div class="col-auto search-section">
      <input
        class="inpt-search form-control me-2"
        [(ngModel)]="queryFilterDate"
        (ngModelChange)="onInputCreateAtChange()"
        mask="0000-00-00"
        placeholder=" CreateAt YYYY-MM-DD"
        ngxMask
      />
    </div>

    <div class="col-auto search-section">
      <input
        [(ngModel)]="queryFilterTotalPrice"
        (ngModelChange)="onInputFilterByTotalPrice()"
        class="inpt-search form-control"
        placeholder="Date Range (YYYY-MM-DD - YYYY-MM-DD)"
      />
    </div>
  </div>

  <div class="row row-table">
    <app-owner-oders-table
      (updateOderStatus)="updateOderStatus($event)"
      *ngIf="ordersLoaded"
      [odersList]="odersList$"
    ></app-owner-oders-table>
  </div>
</div>
