<div class="container-fluid">
  <div class="row">
    <div class="col food-section" *ngIf="data.item as dataItem">
      <div class="row">
        <div class="col">
          <h2>{{ dataItem.name }}</h2>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>{{ dataItem.description }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <span class="price-sp">{{ dataItem.price }}$</span>
        </div>
      </div>
      <div class="row row-btns">
        <div class="col counter-wrap">
          <button
            (click)="updateQuantity(-1)"
            [disabled]="form.get('quantity')?.value <= 1"
          >
            -
          </button>
          <b>{{ form.get("quantity")?.value }}</b>
          <button (click)="updateQuantity(1)">+</button>
        </div>
      </div>
      <div class="row row-final-price">
        <div class="col col-f-price">
          <button class="fn-btn" (click)="addToBascet()">
            Final Price: <span>{{ totalprice }}$</span>
          </button>
        </div>
      </div>
    </div>
    <div class="col ingridients-section">
      <div class="row row-main-title d-flex justify-content-start">
        <div class="col-auto">
          <h3>Brging to you all of you love</h3>
        </div>
      </div>
      <div class="row row-second-title">
        <div class="col">
          <h5>Add Some Ingridients</h5>
        </div>
      </div>
      <div
        class="row row-category-list"
        *ngIf="categories$ | async as ingridientsCategory"
      >
        <div
          class="row row-category-list-name"
          *ngFor="let ingridient of ingridientsCategory"
        >
          <div class="row row-st">
            <div class="col">
              <h6 class="title-ingrid-ategory">{{ ingridient.name }}</h6>
            </div>
          </div>
          <div
            class="row row-ingrid-card"
            *ngFor="let ingridItem of ingridient.ingredients"
          >
            <div class="row d-flex align-items-center">
              <div class="col-2">
                <mat-checkbox
                  (change)="handleCheckboxChange($event, ingridItem)"
                  [disabled]="!ingridItem.inStoke"
                ></mat-checkbox>
              </div>
              <div class="col-6">
                <h6 class="ingrid-item-name">{{ ingridItem.name }}</h6>
              </div>
              <div class="col">
                <span>+{{ ingridItem.price }}$</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
