.slider-section {
  margin-top: 5%;
}

.slick-prev::before,
.slick-next::before {
  color: #000 !important;
}
.img-style {
  margin-left: auto;
  margin-right: auto;
  height: 250px;
  width: 250px;
}

.h2 {
  padding-left: 10%;
  font-family: Jost;
  font-size: 30px;
  font-weight: 900;
}

.title-section {
  margin-top: 5%;
}

.title-category {
  font-family: Jost;
  font-size: 20px;
  font-weight: 500;
  color: #373636;
}
