<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="card">
        <h3>Food Type</h3>
        <ul>
          <li><input type="checkbox" /> All</li>
          <li><input type="checkbox" /> Vegetarian Only</li>
          <li><input type="checkbox" /> Non-Vegeterian Only</li>
          <li><input type="checkbox" /> Seasonal</li>
        </ul>
      </div>

      <div class="card">
        <h3>Food Category</h3>
        <ul>
          <li><input type="checkbox" /> Pizza</li>
          <li><input type="checkbox" /> Pasta</li>
          <li><input type="checkbox" /> Susi</li>
          <li><input type="checkbox" /> Meet</li>
        </ul>
      </div>
    </div>
    <div class="col-6">hello2</div>
  </div>
</div>
