<div class="container-fluid" *ngIf="categories | async as categories">
  <div class="row row-inf">
    <div class="col-2">
      <div class="card">
        <h3 class="h3-inf">Food Category</h3>

        <ul class="ul-list">
          <li *ngFor="let category of categories">
            <label>
              <input
                class="check"
                type="radio"
                (click)="filterFood(false, false, false, category.name)"
              />
              <span>
                {{ category.name }}
              </span>
            </label>
          </li>
        </ul>
      </div>

      <div class="card section-2">
        <h3 class="h3-inf">Food Type</h3>
        <ul class="ul-list">
          <li>
            <label>
              <input
                class="check"
                type="radio"
                name="foodType"
                (click)="filterFood(true, false, false, '')"
              />
              <span>is Vegetable </span></label
            >
          </li>
          <li>
            <label>
              <input
                class="check"
                type="radio"
                name="foodType"
                (click)="filterFood(false, true, false, '')"
              />
              <span>is Seasonal </span>
            </label>
          </li>
          <li>
            <label>
              <input
                class="check"
                type="radio"
                name="foodType"
                (click)="filterFood(false, false, true, '')"
              />
              <span>available</span>
            </label>
          </li>

          <li>
            <label>
              <input
                class="check"
                type="radio"
                name="foodType"
                (click)="filterFood(false, false, false, '')"
              />
              <span>All</span>
            </label>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-6" *ngIf="filterItems$ | async as filterItems">
      <div
        class="col d-flex justify-content-center list-food"
        *ngIf="filterItems$ | async as filterItems"
      >
        <div *ngFor="let item of filterItems" class="mr-5 cards">
          <app-ui-card-food
            class="card-component"
            [result]="item"
            (openDetailsFoodCard)="openDetailsFoodCard($event)"
          ></app-ui-card-food>
        </div>
      </div>
    </div>
  </div>
</div>
