<div class="container" *ngIf="categories | async as categories">
  <div class="row">
    <div class="col-6">
      <div class="card">
        <h3>Food Category</h3>

        <ul class="ul-list" *ngFor="let category of categories">
          <li>
            <label>
              <input
                class="check"
                type="radio"
                (click)="filterFood(null, null, null, '')"
              />
              All
            </label>
          </li>
          <li>
            <label>
              <input
                class="check"
                type="radio"
                (click)="filterFood(false, false, false, category.name)"
              />

              <span>
                {{ category.name }}
              </span>
            </label>
          </li>
        </ul>
      </div>

      <div class="card">
        <h3>Food Type</h3>
        <ul class="ul-list">
          <li>
            <label>
              <input
                class="check"
                type="radio"
                name="foodType"
                (click)="filterFood(true, false, false, '')"
              />
              <span>is Vegetable </span></label
            >
          </li>
          <li>
            <label>
              <input
                class="check"
                type="radio"
                name="foodType"
                (click)="filterFood(false, true, false, '')"
              />
              <span>is Seasonal </span>
            </label>
          </li>
          <li>
            <label>
              <input
                class="check"
                type="radio"
                name="foodType"
                (click)="filterFood(false, false, true, '')"
              />
              <span>available</span>
            </label>
          </li>

          <li>
            <label>
              <input
                class="check"
                type="radio"
                name="foodType"
                (click)="filterFood(false, false, false, '')"
              />
              <span>All</span>
            </label>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-6">hello2</div>
  </div>
</div>
