$primary-color: #ff7a00;
$font-family: Jost;
$text-color: mix(#000, $primary-color, 64%);

.filter-card {
  padding: 30px 20px 30px 20px;
  width: 100%;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}
span {
  font-family: $font-family;
  font-size: 16px;
  font-weight: 500;
  color: #ff7a00;
}
h3 {
  font-family: Jost;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 0px;
}
.row-hr {
  margin-top: 0px;
  padding-top: 0px;
}
.row-title {
  padding-bottom: 0px;
  .col {
    margin-bottom: 3%;
    padding-bottom: 0px;
  }
}
