h1 {
  font-family: Jost;
  font-size: 39px;
  font-weight: 800;
}
.container-fluid {
  max-width: 100%;
  margin: 0px;
}
.main {
  margin-top: 10%;
}
.second {
  margin-top: 40px;
}

.row-btn {
  max-width: 100%;
  margin: 0px;
  padding: 0px;
}

.col-btn {
  margin: 0px;
  padding: 0px;
}
.btn-restaurants {
  margin-top: 5%;
  color: #fff;
  background-color: #ff4b4b;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  font-family: Jost;
  cursor: pointer;
  padding: 5px 25px 5px 25px;
}
