<div class="container-fluid main">
  <h1>Oder from any restaurant</h1>
  <div class="container-fluid d-flex justify-content-around second">
    <app-food-card-restaurants></app-food-card-restaurants>
    <app-food-card-restaurants></app-food-card-restaurants>
    <app-food-card-restaurants></app-food-card-restaurants>
    <app-food-card-restaurants></app-food-card-restaurants>
  </div>

  <div class="row">
    <div class="col d-flex justify-content-center">
      <button
        (click)="redirectToRestaurantSearchPage()"
        class="btn-restaurants"
      >
        More Restaurnts?
      </button>
    </div>
  </div>
</div>
