<div class="container-fluid main">
  <h1>Oder from any restaurant</h1>
  <div class="container-fluid d-flex justify-content-around second">
    <div *ngFor="let restaurant of displaedRestaurants">
      <app-food-card-restaurants
        [data]="restaurant"
      ></app-food-card-restaurants>
    </div>
  </div>

  <div class="row row-btn">
    <div class="col col-btn d-flex justify-content-center">
      <button
        (click)="redirectToRestaurantSearchPage()"
        class="btn-restaurants"
      >
        More Restaurnts?
      </button>
    </div>
  </div>
</div>
