<div class="container">
  <div class="row">
    <div class="col">
      <h4>Add Ingridient Category</h4>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <input />
    </div>
  </div>

  <div class="row">
    <div class="col-2">Add Ingridient</div>
    <div class="col-1">
      <mat-icon>add</mat-icon>
    </div>
  </div>

  <div class="row">
    <div class="box">
      <div class="row">
        <div class="col">
          <input placeholder="name" />
        </div>
      </div>
      <div class="row">
        <div class="col">
          <input placeholder="Price" />
        </div>
      </div>
    </div>
  </div>

  <div class="row preview-section"></div>
</div>
