.main-title {
  font-size: 30px;
  font-weight: 500;
  font-family: Jost;
}
.btn-section {
  margin-top: 2%;
}
.box {
  margin-top: 2%;
  width: 100%;
  height: 70vh;
  background: #ffffff;
  opacity: 0.95;
  border: 1px solid #0000002b;
  box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
}
.igrid-component {
  padding: 20px 20px 20px 20px;
}
.btn-add-category {
  border: none;
  font-size: 17px;
  font-family: Jost;
  color: #fff;
  border-radius: 8px;
  background-color: rgb(246, 100, 100);
  padding: 8px 12px 8px 12px;
}
