<div class="container-fluid">
  <div class="row">
    <div class="col img-bg">
      <h2>See more fotos</h2>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h1>Indian Fast Food</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo odio
        reprehenderit in quia asperiores, nobis unde, nihil nam officia magni
        modi nemo impedit alias minima quaerat ea aliquid eaque facere.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h3>Loaclizations</h3>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <span>Calendar</span>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <app-restaurant-filter-section></app-restaurant-filter-section>
    </div>
  </div>
</div>
