<div class="container">
  <div class="row main-title">
    <div class="col d-flex justify-content-center">
      <h2>Our Food List</h2>
    </div>
  </div>
  <div class="row section">
    <div class="col d-flex justify-content-center">
      <input
        type="text"
        [(ngModel)]="query"
        (ngModelChange)="onInputChange()"
        placeholder="Search Food"
        class="inpt-search"
      />
    </div>

    <div class="col-1 col-btns">
      <button class="btn-search">Search</button>
    </div>
  </div>
  <div class="row carusel-food">
    <app-food-carusel-popelar-cuisin
      [categories$]="foodCategories"
      class="col-12"
      style="display: flex; justify-content: center; width: 100%"
    ></app-food-carusel-popelar-cuisin>
  </div>

  <div class="row paginator d-flex justify-content-center">
    <div class="col-1">
      <button
        (click)="changePage(currentPage - 1)"
        [disabled]="currentPage === 1"
      >
        Previous
      </button>
    </div>
    <div class="col-1 col-title align-self-center">
      <span class="sp-title">Page {{ currentPage }}</span>
    </div>
    <div class="col-1">
      <button (click)="changePage(currentPage + 1)">Next</button>
    </div>
  </div>
  <div class="row row-cl" *ngIf="result$ | async as results">
    <ng-container *ngIf="results && results.length > 0; else emptyResult">
      <div
        class="col-6 col-md-4 col-lg-3 card-container"
        *ngFor="let result of results; let i = index"
      >
        <app-ui-card-food
          (restaurantRoutingHndler)="redirectToRetaurant($event)"
          [result]="result"
        ></app-ui-card-food>
      </div>
    </ng-container>
  </div>

  <ng-template #emptyResult>
    <div class="row h-100">
      <div
        class="col d-flex justify-content-center align-items-center"
        style="height: 100vh"
      >
        <h2 class="info-found">
          {{ query ? "No food found..." : "Enter something..." }}
        </h2>
      </div>
    </div>
  </ng-template>
</div>
