<div class="container box">
  <div class="row">
    <div class="col d-flex justify-content-center text-center">
      <h4 class="main-title">Are your shure update Restaurant Information?</h4>
    </div>
  </div>

  <div class="row d-flex justify-content-center btn-section">
    <div class="col-2">
      <button class="btn-acess" (click)="confirm(true)">Yes</button>
    </div>
    <div class="col-2">
      <button class="btn-conform" (click)="confirm(false)">No</button>
    </div>
  </div>
</div>
