<mat-dialog-content>
  <form
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    class="сontainer-fluid w-100"
  >
    <div class="row">
      <div
        class="col-md-8 offset-md-1 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4"
      >
        <div class="row">
          <div class="col-12">
            <h1 class="h1">Sign In</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-12 d-flex justify-content-center">
            <span class="span-inf">
              Please Sign up with form and continue our app
            </span>
          </div>
        </div>
        <div class="row inpt-row">
          <div class="col-12 d-flex justify-content-center">
            <input
              class="inpt"
              type="mail"
              placeholder="mail"
              formControlName="email"
            />
          </div>
        </div>
        <div class="row inpt-row">
          <div class="col-12 d-flex justify-content-center">
            <input
              class="inpt"
              type="password"
              placeholder="password"
              formControlName="password"
            />
          </div>
        </div>
        <div class="row inpt-row">
          <div class="col-12 d-flex justify-content-center">
            <select
              class="select-role"
              [(ngModel)]="selectedValue"
              formControlName="role"
            >
              <option
                class="option-role"
                *ngFor="let i of role"
                [value]="i.value"
              >
                {{ i.viewValue }}
              </option>
            </select>
          </div>
        </div>
        <div class="row row-btn">
          <div class="col-12 d-flex justify-content-center">
            <button (click)="onSubmit()" class="btn-log">Submit</button>
          </div>
        </div>
        <div class="row row-inf-span">
          <div class="col-12 d-flex justify-content-center">
            <p class="p">
              You don't have an account yet?
              <button class="sp-btn" (click)="redirectToLogin()">
                Registration
              </button>
            </p>
          </div>
        </div>
      </div>
    </div>
  </form>
</mat-dialog-content>
