.filtered-section {
  margin-top: 2%;
}

.info-empty-section {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty-title {
  font-size: 35px;
  color: #6e6e6e21;
  font-family: Jost;
}
