<form class="container" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col d-flex justify-content-center title-section">
      <h3 class="title">Address Delivery</h3>
    </div>
  </div>
  <div class="row">
    <div class="col d-flex justify-content-center inpt-section">
      <input
        formControlName="country"
        class="inpt-address"
        placeholder="Country"
      />
    </div>
  </div>
  <div class="row">
    <div class="col d-flex justify-content-center inpt-section">
      <input formControlName="city" class="inpt-address" placeholder="City" />
    </div>
  </div>
  <div class="row">
    <div class="col d-flex justify-content-center inpt-section">
      <input
        formControlName="street"
        class="inpt-address"
        placeholder="Street"
      />
    </div>
  </div>
  <div class="row">
    <div class="col d-flex justify-content-center inpt-section">
      <input formControlName="state" class="inpt-address" placeholder="State" />
    </div>
  </div>

  <div class="row">
    <div class="col d-flex justify-content-center inpt-section">
      <input
        formControlName="zipCode"
        class="inpt-address"
        placeholder="zip Code"
      />
    </div>
  </div>
  <div class="row row-info-card">
    <div class="col-2 col-icon">
      <mat-icon class="icon">alarm</mat-icon>
    </div>
    <div class="col col-inf">
      <div class="row row-m-title">
        <div class="col">
          <h5>Wait Time</h5>
        </div>
      </div>
      <div class="row row-sp-inf">
        <div class="col">
          <span>Estimated delivery time: 70-80 min</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-info-card">
    <div class="col-2 col-icon">
      <mat-icon class="icon">payment</mat-icon>
    </div>
    <div class="col col-inf">
      <div class="row row-m-title">
        <div class="col">
          <h5>Payment</h5>
        </div>
      </div>
      <div class="row row-sp-inf">
        <div class="col">
          <span>Choose a payment method</span>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col d-flex justify-content-center btn-section">
      <button type="submit" class="btn-deliver">Deliver</button>
    </div>
  </div>
</form>
