.example-element-detail {
  overflow: hidden;
  transition: height 225ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 225ms cubic-bezier(0.4, 0, 0.2, 1);
}
.example-element-row {
  cursor: pointer;
}
.example-expanded-row {
  background-color: #f1f1f1;
}
.example-detail-row {
  height: auto;
}
