<mat-table
  [dataSource]="dataSource"
  matSort
  multiTemplateDataRows
  class="mat-elevation-z8"
>
  <ng-container matColumnDef="number">
    <mat-header-cell *matHeaderCellDef> Number </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.id }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="Customer">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      Customer
    </mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{ element.customer.fullName }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="Status">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      Status
    </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.oderStatus }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="CreateAt">
    <mat-header-cell *matHeaderCellDef> Create At </mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{ element.createAt | date : "short" }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="TotalPrice">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      Total Price
    </mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{ element.totalPrice | currency }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="Address">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      Address
    </mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{ element.deliveryAddress.street }}, {{ element.deliveryAddress.city }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="expand">
    <mat-header-cell *matHeaderCellDef>&nbsp;</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button
        mat-icon-button
        (click)="toggleRow(element); $event.stopPropagation()"
        aria-label="expand row"
      >
        <mat-icon *ngIf="expandedElement !== element"
          >keyboard_arrow_down</mat-icon
        >
        <mat-icon *ngIf="expandedElement === element"
          >keyboard_arrow_up</mat-icon
        >
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row
    *matRowDef="let row; columns: displayedColumns"
    class="example-element-row"
    [class.example-expanded-row]="expandedElement === row"
    (click)="toggleRow(row)"
  ></mat-row>

  <ng-container matColumnDef="expandedDetail">
    <mat-cell *matCellDef="let row" [attr.colspan]="displayedColumns.length">
      <div
        class="example-element-detail"
        [@detailExpand]="expandedElement === row ? 'expanded' : 'collapsed'"
      >
        <p><strong>Customer:</strong> {{ row.customer.fullName }}</p>
        <p><strong>Order Status:</strong> {{ row.oderStatus }}</p>
        <p>
          <strong>Order Created At:</strong> {{ row.createAt | date : "short" }}
        </p>
        <p>
          <strong>Order Total Price:</strong> {{ row.totalPrice | currency }}
        </p>
        <p><strong>Delivery Address:</strong> {{ row.deliveryAddress.city }}</p>
      </div>
    </mat-cell>
  </ng-container>

  <mat-row
    *matRowDef="let row; columns: ['expandedDetail']"
    class="example-detail-row"
  ></mat-row>
</mat-table>

<mat-paginator
  #paginator
  [pageSize]="8"
  [length]="dataSource.data.length"
  [pageSizeOptions]="[8, 15, 20]"
  showFirstLastButtons
></mat-paginator>
