<mat-table
  [dataSource]="dataSource"
  matSort
  multiTemplateDataRows
  class="container mat-elevation-z8"
>
  <ng-container matColumnDef="number">
    <mat-header-cell *matHeaderCellDef> Number </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.id }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="Customer">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      Customer
    </mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{ element.customer.fullName }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="Status">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      Status
    </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.oderStatus }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="CreateAt">
    <mat-header-cell *matHeaderCellDef> Create At </mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{ element.createAt | date : "short" }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="TotalPrice">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      Total Price
    </mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{ element.totalPrice | currency }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="Address">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      Address
    </mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{ element.deliveryAddress.street }}, {{ element.deliveryAddress.city }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="expand">
    <mat-header-cell *matHeaderCellDef>&nbsp;</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button
        mat-icon-button
        (click)="toggleRow(element); $event.stopPropagation()"
        aria-label="expand row"
      >
        <mat-icon *ngIf="expandedElement !== element"
          >keyboard_arrow_down</mat-icon
        >
        <mat-icon *ngIf="expandedElement === element"
          >keyboard_arrow_up</mat-icon
        >
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row
    *matRowDef="let row; columns: displayedColumns"
    class="example-element-row"
    [class.example-expanded-row]="expandedElement === row"
    (click)="toggleRow(row)"
  ></mat-row>

  <ng-container matColumnDef="expandedDetail">
    <mat-cell *matCellDef="let row" [attr.colspan]="displayedColumns.length">
      <div
        class="example-element-detail"
        [@detailExpand]="expandedElement === row ? 'expanded' : 'collapsed'"
      >
        <div class="column">
          <div class="row">
            <div class="col">
              <h5>Customer Details:</h5>
            </div>
            <div class="row">
              <div class="col">
                <span>Full Name:</span>
              </div>
              <div class="col">
                <p>{{ expandedElement?.customer?.fullName }}</p>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <span>E-mail:</span>
              </div>
              <div class="col">
                <p>{{ expandedElement?.customer?.email }}</p>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <span>Adresses:</span>
              </div>
            </div>

            <div class="row">
              <div
                class="col"
                *ngFor="let i of expandedElement?.customer?.adresses"
              >
                <ul>
                  <li><span>State:</span> {{ i.state }}</li>
                  <li><span>Country:</span> {{ i.country }}</li>
                  <li><span>City:</span> {{ i.city }}</li>
                  <li><span>Street:</span> {{ i.street }}</li>
                  <li><span>ZipCode:</span> {{ i.zipCode }}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="row">
            <div class="col">
              <h4>Oders Details:</h4>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <span>Oder Status:</span>
            </div>
            <div class="col">
              {{ expandedElement?.oderStatus }}
            </div>
          </div>

          <div class="row">
            <div class="col">
              <span>Delivery Address</span>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <ul>
                <li>
                  <span>Country:</span>
                  {{ expandedElement?.deliveryAddress?.country }}
                </li>
                <li>
                  <span>City:</span>
                  {{ expandedElement?.deliveryAddress?.city }}
                </li>
                <li>
                  <span>Street:</span>
                  {{ expandedElement?.deliveryAddress?.street }}
                </li>
                <li>
                  <span>ZipCountru:</span>
                  {{ expandedElement?.deliveryAddress?.zipCode }}
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="row">
            <div class="col">
              <h4>Delivery Menu Items</h4>
            </div>
            <div class="row">
              <div class="col">
                <span>Foods:</span>
              </div>
            </div>
            <div *ngFor="let i of expandedElement?.items" class="row">
              <div class="col">
                <ul>
                  <li><span>Food Name:</span> {{ i.food }}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-cell>
  </ng-container>

  <mat-row
    *matRowDef="let row; columns: ['expandedDetail']"
    class="example-detail-row"
  ></mat-row>
</mat-table>

<mat-paginator
  #paginator
  [pageSize]="8"
  [length]="dataSource.data.length"
  [pageSizeOptions]="[8, 15, 20]"
  showFirstLastButtons
></mat-paginator>
