$font-family: Jost;
h6 {
  font-family: $font-family;
  font-size: 14px;
  font-weight: 800;
  color: #484747;
}
h3 {
  font-family: $font-family;
  font-size: 25px;
  font-weight: 600;
}
span {
  font-family: $font-family;
  font-size: 16px;
  color: #484747;
  font-weight: 400;
}
.svg {
  width: 35px;
  height: 35px;
  background-color: #ff7b004d;
  border-radius: 8px;
  padding: 4px;
}
.sp-close {
  margin-left: 7%;
}

.inpt-check {
  width: 20px;
  height: 20px;
}

.row-sections {
  padding-left: 15%;
  padding-right: 15%;

  .filters-section {
    width: 23%;
    .row-btn-sorting {
      margin-top: 5%;
    }
    .row-close {
      margin-top: 3%;
    }
    .row-btns-op {
      margin-top: 2%;
    }
    .row-pop-categories {
      margin-top: 10%;
    }
    .row-free-deliv {
      margin-top: 5%;
    }
    .row-cupons {
      margin-top: 3%;
    }
    .row-dis {
      margin-top: 3%;
    }
    .row-discaunt {
      margin-top: 6%;
    }
  }
}

.restaurants-sections {
  width: 100%;
  .col-rest-intp {
    .inpt-search {
      width: 100%;
      border-radius: 8px;
      border: 0.5px solid #00000058;
      font-family: $font-family;
      color: #000;
      font-size: 16px;
      padding: 6px 20px 6px 20px;
    }
  }
  .btn-sig-in {
    border-radius: 8px;
    border: none;
    background-color: rgb(205, 78, 67);
    padding: 6px 15px 6px 15px;
    font-family: $font-family;
    color: #fff;
    font-size: 16px;
  }
  .row-steps-up {
    margin-top: 3%;
  }
  .row-steps-down {
    margin-top: 1%;
  }
}
.row-category-filters {
  margin-top: 1%;
  .sp-category-name {
    margin-top: 2%;
  }
}
