$font-family: Jost;
$padding-btns: 5px 20px 5px 20px;
$font-szie-btns: 15px;
$padding-card: 15px 25px 15px 25px;
.container {
  width: 400px;
  border: 0.5px solid #00000032;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.077);
  padding: $padding-card;
  h5 {
    font-family: $font-family;
    margin-top: 3%;
  }
  h6 {
    font-family: $font-family;
    font-size: 21px;
    color: #464646;
  }
  .sp-info {
    font-family: $font-family;
    color: #0000008b;
    text-decoration: underline;
  }

  .shadow-section {
    margin-top: 7%;
    .p-desc {
      font-family: $font-family;
      font-size: 16px;
    }
  }
  .btn-card {
    border-radius: 8px;
    font-family: $font-family;
    padding: $padding-btns;
    font-size: $font-szie-btns;
    margin-bottom: 5%;
    margin-top: 15%;
  }
  .btn-price {
    background-color: rgba(213, 207, 199, 0.042);
    color: #000;
    border: none;
  }
  .btn-status {
    border: none;
  }
  .btn-available {
    border: 0.5px solid #7aee3b84;
    background-color: transparent;
  }
  .btn-not-available {
    border: none;
    background-color: rgba(245, 91, 91, 0.591);
    color: #fff;
  }
  .btn-del {
    padding-top: 10px;
    border: none;
    background-color: transparent;
    .icon-del {
      font-size: 20px;
      width: 20px;
      height: 20px;
    }
  }
  .btn-editor-section {
    margin-top: 3%;
    .btn-edit {
      border: none;
      background-color: rgb(242, 222, 154);
      border-radius: 8px;
      font-family: $font-family;
      font-size: 14px;
      color: #000000;
      padding: 5px 15px 5px 15px;
    }
  }
}
.igrid-section {
  background: #ffffff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05);
  margin-bottom: 2%;
  .ingrid-list {
    margin-top: 1%;
    width: 100%;
    .ingrid-item {
      font-family: $font-family;
      font-size: 16px;
      list-style-type: none;
      .ingrid-sp {
        color: #ffa75e;
        font-weight: 600;
      }
      .btn-igrid {
        margin-left: 40%;
        border: 0.3px solid #00000044;
        border-radius: 7px;
        background-color: transparent;
        font-family: $font-family;
        font-size: 16px;
        padding: 2px 4px 2px 4px;
      }
      .btn-instock {
        border: 0.3px solid #c7ff79;
        color: #8bd720;
      }
      .btn-not-available {
        border: none;
        color: rgb(251, 79, 79);
      }
    }
  }
}
.menu-image {
  width: 100%;
  transition: transform 0.3s ease-in-out;
}
.row[ng-reflect-is-info-visible="true"] .menu-image {
  transform: scale(1.05);
}
