<div class="container-fluid d-flex d-flex justify-content-between">
  <div class="search-section">
    <div class="row">
      <div class="col">
        <h1>Order food and more</h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h6>Food delivery from restaurants</h6>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="input-group">
          <input
            [(ngModel)]="city"
            type="text"
            class="form-control inpt-search"
            placeholder="Find Food"
          />
          <button
            (click)="redirectToRestaurantSearch()"
            class="btn-search"
            type="button"
          >
            Search
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="img-section">
    <div class="row row-img">
      <div class="col">
        <img
          src="'./../../../../../assets/images/food-home.png"
          alt="Nie mam"
        />
      </div>
    </div>
    <div class="row row-promo">
      <div class="col">
        <span class="so-promo-title">Food Delivery App@</span>
      </div>
    </div>
  </div>
</div>
