.table-section {
  margin-top: 3%;
}
.btn-add {
  border: none;
  border-radius: 10px;
  color: #fff;
  font-family: Jost;
  font-size: 17px;
  padding: 10px 20px 10px 20px;
  background-color: rgb(252, 102, 102);
}
