<div class="container card">
  <div class="row">
    <div class="col-3">
      {{ item.country }}
    </div>
    <div class="col-3">
      {{ item.state }}
    </div>
    <div class="col-3">
      {{ item.city }}
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      {{ item.street }}
    </div>
    <div class="col-6">
      {{ item.zipCode }}
    </div>
  </div>
  <div class="row">
    <div class="row">
      <div class="col">
        <button>Use Address</button>
      </div>
    </div>
  </div>
</div>
