$font-family: Jost;
$font-size-titels-first: 18px;
$font-size-titels-second: 16px;
$font-size-titels-thrd: 14px;

.col {
  padding: 0 !important;
  margin: 0 !important;
}

.row-adresses-m {
  margin-top: 20px;
}

.example-element-row {
  cursor: pointer;
}
.example-expanded-row {
  background-color: #f1f1f1;
}
.example-detail-row {
  height: auto;
}

.example-element-detail {
  display: flex;
  flex-direction: row;
  gap: 100px;
}

.example-element-detail .column {
  flex: 1;
  padding: 10px;
  box-sizing: border-box;
}

h5 {
  font-family: $font-family;
  font-weight: medium;
  font-size: $font-size-titels-second;
}
h6 {
  font-family: $font-family;
  font-size: 14px;
  font-weight: medium;
}
span {
  font-family: $font-family;
  font-size: 13px;
}
p {
  font-family: $font-family;
  font-size: 14px;
}

.customer-adresses-section {
  .customer-adresses-list {
    padding: 0;
    margin: 10px;
    list-style: none;
    li {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 5px 0;
      text-align: left;
    }
    span {
      min-width: 100px;
      padding-right: 10px;
      font-family: $font-family;
      font-size: 13px;
      font-weight: 400;
      text-align: left;
    }
  }
}

.delivery-address-list {
  li {
    list-style-type: none;

    span {
      font-family: $font-family;
      font-size: 16px;
      font-weight: 550;
    }
  }
}

.btn-oder-status {
  font-family: $font-family;
  font-size: 13px;
  padding: 3px 7px 3px 7px;
  border-radius: 4px;
  border: none;
  color: #000;
}
.oder-status-pandding {
  background-color: rgb(249, 255, 60);
}
.oder-status-completed {
  background-color: green;
}
.oder-status-cancel {
  background-color: red;
}

.delivery-section-adresses {
  margin-top: 30px;
}
.btn-section-end {
  margin-top: 1%;
  margin-bottom: 3%;
  .btn-section-back {
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    border: none;
    font-family: $font-family;
    font-size: 14px;
  }
}
