$font-family: Jost;

.example-element-row {
  cursor: pointer;
}
.example-expanded-row {
  background-color: #f1f1f1;
}
.example-detail-row {
  height: auto;
}

.example-element-detail {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.example-element-detail .column {
  flex: 1;
  padding: 10px;
  box-sizing: border-box;
}

h5 {
  font-family: $font-family;
  font-size: 18px;
}
h6 {
  font-family: $font-family;
  font-size: 16px;
}
span {
  font-family: $font-family;
  font-size: 15px;
}

.row {
  padding: 0px;
  margin: 0px;
}
.col-md-4 {
  width: 30%;
  span {
    font-weight: 500;
  }
}

.shadow-column {
  margin-right: 10px;
  margin-left: 10px;
  background: #ffffff;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.customer-adresses-section {
  .customer-adresses-list {
    li {
      list-style: none;
      span {
        font-family: $font-family;
        font-size: 15px;
        font-weight: 550;
      }
    }
  }
}
.delivery-address-list {
  li {
    list-style-type: none;
    span {
      font-family: $font-family;
      font-size: 16px;
      font-weight: 550;
    }
  }
}

.btn-oder-status {
  font-family: $font-family;
  padding: 5px 10px 5px 10px;
  border-radius: 8px;
  border: none;
}

.oder-status-pandding {
  background-color: rgb(247, 99, 99);
}

.oder-status-completed {
  background-color: green;
}

.btn-section-end {
  margin-top: 1%;
  margin-bottom: 3%;
  .btn-section-back {
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    border: none;
    font-family: $font-family;
    font-size: 14px;
  }
  .btn-contacts {
  }
}
