$font-family: Jost;
$font-size-titels-first: 18px;
$font-size-titels-second: 16px;
$font-size-titels-thrd: 14px;

.col {
  padding: 0 !important;
  margin: 0 !important;
}

.row-adresses-m {
  margin-top: 20px;
}

.example-element-row {
  cursor: pointer;
}
.example-expanded-row {
  background-color: #f1f1f1;
}
.example-detail-row {
  height: auto;
}

.example-element-detail {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  gap: 50px;
}

.name-details {
  margin-top: 2%;
}
.oder-st-section {
  margin-top: 4%;
}
.column {
  margin-top: 5%;
  padding: 10px;
  box-sizing: border-box;
}
.last-column {
  margin-top: 1%;
}
h5 {
  font-family: $font-family;
  font-weight: medium;
  font-size: $font-size-titels-second;
}
h6 {
  font-family: $font-family;
  font-size: 14px;
  font-weight: medium;
}
span {
  font-family: $font-family;
  font-size: 13px;
}
p {
  font-family: $font-family;
  font-size: 14px;
}

.customer-adresses-section {
  .customer-adresses-list {
    padding: 0;
    margin: 6px;
    list-style: none;
    li {
      display: flex;
      align-items: center;
      gap: 6px;
      padding: 3px 0;
      text-align: left;
    }
    span {
      min-width: 100px;
      padding-right: 10px;
      font-family: $font-family;
      font-size: 13px;
      font-weight: 400;
      text-align: left;
    }
  }
}

.delivery-address-list {
  li {
    list-style-type: none;

    span {
      font-family: $font-family;
      font-size: 16px;
      font-weight: 550;
    }
  }
}

.btn-oder-status {
  font-family: $font-family;
  font-size: 13px;
  padding: 3px 7px 3px 7px;
  border-radius: 4px;
  border: none;
  color: #000;
}
.oder-status-pandding {
  background-color: rgb(249, 255, 60);
}
.oder-status-completed {
  background-color: green;
}
.oder-status-cancel {
  background-color: red;
}

.delivery-section-adresses {
  margin-top: 40px;
}
.btn-section-end {
  width: 950px;
  margin-top: 1%;
  margin-bottom: 3%;
  .btn-section-back {
    width: 100%;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;

    font-family: $font-family;
    font-size: 14px;
  }
  .btn-contacts {
    background-color: rgb(72, 218, 72);
    color: #000;
  }
  .btn-upload {
    background-color: #000;
    color: #fff;
  }
  .btn-upload:hover {
    background-color: #595656;
    color: #000;
  }
}

.total-sp {
  font-size: 12px;
  font-weight: 500;
  font-family: $font-family;
}

.item-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.label-col {
  flex: 1;
  text-align: left;
}

.value-col {
  flex: 1;
  text-align: right;
  color: red;
}
.btn-delivery {
  border: 0.5px solid #00000026;
}
.btn-delivery:hover {
  background-color: #000;
  color: #fff;
}
