<div class="container" *ngIf="oderElement">
  <div class="example-element-detail">
    <div class="column shadow-column">
      <div class="row">
        <div class="col">
          <h5>Customer Details:</h5>
        </div>
        <div class="row g-0 name-details">
          <div class="col-3 p-0">
            <span style="margin: 0; padding: 0">Full Name:</span>
          </div>
          <div class="col p-0">
            <p style="margin: 0; padding: 0">
              {{ oderElement.customer.fullName }}
            </p>
          </div>
        </div>
        <div class="row g-0 name-details">
          <div class="col-3 p-0">
            <span style="margin: 0; padding: 0">E-mail:</span>
          </div>
          <div class="col p-0">
            <p style="margin: 0; padding: 0">
              {{ oderElement.customer.email }}
            </p>
          </div>
        </div>

        <div class="row row-adresses-m">
          <div class="col">
            <h6>Adresses:</h6>
          </div>
        </div>

        <div class="row">
          <div
            class="col customer-adresses-section"
            *ngFor="let i of oderElement?.customer?.adresses"
          >
            <ul class="customer-adresses-list">
              <li><span>State:</span> {{ i.state }}</li>
              <li><span>Country:</span> {{ i.country }}</li>
              <li><span>City:</span> {{ i.city }}</li>
              <li><span>Street:</span> {{ i.street }}</li>
              <li><span>ZipCode:</span> {{ i.zipCode }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="column shadow-column">
      <div class="row">
        <div class="col">
          <h5>Oders Details:</h5>
        </div>
      </div>
      <div class="row oder-st-section">
        <div class="col">
          <h6>Oder Status:</h6>
        </div>
        <div class="col">
          <button
            [ngClass]="{
              'oder-status-completed': oderElement.oderStatus === 'COMPLETE',
              'oder-status-pandding ': oderElement.oderStatus === 'PENDING',
              'oder-status-cancel': oderElement.oderStatus === 'CANCEL'
            }"
            class="btn-oder-status"
          >
            {{ oderElement.oderStatus }}
          </button>
        </div>
        <div class="col"></div>
      </div>

      <div class="row delivery-section-adresses">
        <div class="col">
          <h6>Delivery Address</h6>
        </div>
      </div>
      <div class="row">
        <div class="col customer-adresses-section">
          <ul class="customer-adresses-list">
            <li>
              <span>Country:</span>
              {{ oderElement.deliveryAddress.country }}
            </li>
            <li>
              <span>City:</span>
              {{ oderElement.deliveryAddress.city }}
            </li>
            <li>
              <span>Street:</span>
              {{ oderElement.deliveryAddress.street }}
            </li>
            <li>
              <span>ZipCountru:</span>
              {{ oderElement.deliveryAddress.zipCode }}
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="column shadow-column last-column">
      <div class="row">
        <div class="col">
          <h5>Delivery Menu Items:</h5>
        </div>
        <div class="row">
          <div class="col">
            <h6>Foods:</h6>
          </div>
        </div>
        <div *ngFor="let i of oderElement?.items" class="row">
          <div class="row">
            <div class="col">
              <app-owner-oders-min-card-food-ui
                [food]="i.food"
              ></app-owner-oders-min-card-food-ui>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <hr />
            </div>
          </div>
          <div class="row item-row">
            <div class="col label-col">
              <span class="total-sp">Quantity:</span>
            </div>
            <div class="col value-col">
              <span>{{ i.quantity }}</span>
            </div>
          </div>

          <div class="row item-row">
            <div class="col label-col">
              <span class="total-sp">Total Price:</span>
            </div>
            <div class="col value-col total-price">
              {{ oderElement.totalPrice }}$
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row btn-section-end">
    <div class="col-3">
      <button class="btn btn-section-back btn-contacts w-100">Contact</button>
    </div>
    <div class="col-3">
      <button class="btn btn-section-back btn-upload w-100">Upload</button>
    </div>
    <div class="col-3">
      <button
        (click)="changeInformationOder()"
        class="btn btn-section-back btn-delivery w-100"
      >
        Chnage Oder Status
      </button>
    </div>

    <div class="col-3">
      <button class="btn btn-section-back btn-delivery w-100">
        Send the order by the deliverer
      </button>
    </div>
  </div>
</div>
