$font-family: Jost;
h4,
h6 {
  font-family: $font-family;
  font-size: 26px;
}
h6 {
  margin-top: 1%;
  font-size: 18px;
}

.title-info-section {
  margin-top: 5%;

  h4 {
    font-family: $font-family;
    font-size: 35px;
    color: #4f4646;
  }
}

.btn-item {
  border: none;
  background-color: #000;
  color: #fff;
  font-family: $font-family;
  border-radius: 7px;
  font-size: 16px;
  font-weight: 400;
  padding: 5px 5px 5px 5px;
}
.btn-item:hover {
  background-color: #fff;
  color: #ff5e5e;
}
.categories-section {
  margin-top: 2%;
  .category-box {
    margin-left: 2%;
    background-color: rgb(255, 104, 104);
    border-radius: 8px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 15px;
    font-family: $font-family;
    cursor: pointer;
    color: #fff;
  }

  .selected {
    background-color: #090909;
    color: white;
    border-color: #fbfbfb;
  }

  .btn-added-items {
    border: 0.5px solid #000;
    border-radius: 8px;
    background-color: transparent;
    color: #474747;
  }
}

.filter-section {
  margin-top: 1.5%;
  margin-left: 0.25%;
  .btn-filters {
    background-color: transparent;
    font-family: $font-family;
    color: #000;
    border: 0.5px solid #000;
  }
}
.radio-section {
  margin-top: 2%;
  .radio-btns {
    margin-left: 10px;
  }
}
