.primary-action {
  background-color: #ff4b4b;
  color: #fff;
  font-size: 20px;
  font-family: Jost;
  cursor: pointer;
  padding: 5px 25px 5px 25px;
}

.secondary-action {
  background-color: #ff4b4b;
  color: #fff;
  font-size: 15px;
  font-family: Jost;
  padding: 5px 15px 5px 15px;
}
